<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/03_card" target="_blank">Target</a>
</p>

<div class="wrapper">

  <!-- Present the following content in a card. -->
<div class="card" style="width: 28rem;">
  <img src="/img/3.jpeg" class="card-img-top">
  
  <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, iure laborum id vitae eius enim doloremque! At tempore iusto autem velit quas, voluptatem, fugit cumque, aspernatur voluptate delectus assumenda dolorem.</p>

  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">Mercury</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-info">Venus</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Earth</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-success">Mars</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Jupiter</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Saturn</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Uranus</a>
    <a href="#" class="list-group-item list-group-item-action">Neptune</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Pluto</a>
  </div>

</div>

<style>
  .wrapper {
    width: 400px;
    max-width: 100%;
  }
</style>
